
@{
    ViewBag.Title = "Manage Promocodes";
    Layout = "~/Views/Admin/_AdminLayout.cshtml";
}
<style>
    table {
        width: 100%;
        border-collapse: collapse;
    }

        table thead {
            background-color: #034b0093;
        }

            table thead tr {
            }

                table thead tr th {
                    font-size: 14px;
                    letter-spacing: 0.35px;
                    padding: 5px;
                    text-align: start;
                }

        table tbody tr td {
            font-size: 14px;
            letter-spacing: 0.35px;
            background-color: #809d813f;
            padding: 8px;
            text-align: start;
            transition: all 0.15s ease-in-out;
        }

        table tbody tr:hover td {
            color: black;
            background-color: #ffffff3f;
        }

    .edit {
        background-color: #02ac00cf;
    }

    .remove {
        background-color: #ff0000cf;
    }

    #addpromocode {
        padding: 10px 25px;
        border-radius: 35px;
        background-color: #44a743;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        border: none;
        cursor: pointer;
        font-size: 14px;
        font-weight: 500;
        color: #ffffff;
        transition: background-color 0.4s ease;
    }

        #addpromocode:hover {
            background-color: #153515;
        }
</style>
<div style="width: 100%; display: inline-flex; align-items: center; justify-content: space-between; flex-wrap: wrap">
    <h1>Manage Promocodes</h1>
    <button id="addpromocode">Add Promo Code</button>
</div>
<div class="container">
    <div class="table-container">
        <table class="table">
            <thead>
                <tr>
                    <th>Active?</th>
                    <th>Code</th>
                    <th>Discount Type</th>
                    <th>Value <i style="color: #ffc300" class='bx bxs-coin-stack'></i></th>
                    <th>Created At</th>
                    <th>Expired On</th>
                    <th>User Limit</th>
                    <th>Max Uses</th>
                    <th>Action(s)</th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null && Model.Count > 0)
                {
                    foreach (var code in Model)
                    {
                        <tr>
                            <td data-label="is Active?">@((code.is_active == 1) ? "YES" : (@code.is_active == 0) ? "NO" : "Unknown")</td>
                            <td data-label="Code"><strong>@code.promocode</strong></td>
                            <td data-label="Discount Type">@code.discount_type</td>
                            <td data-label="Value">@code.discount_value</td>
                            <td data-label="Created At">@code.datecreated.ToString("MMMM d, yyyy H:mm tt")</td>
                            <td data-label="Expired On">@code.expiration_date.ToString("MMMM d, yyyy H:mm tt")</td>
                            <td data-label="User Limit">@code.user_limit</td>
                            <td data-label="Max Uses">@code.usage_limit</td>
                            <td data-label="Action(s)">
                                <button class="remove" id="btn" data-code="@code.promocode" onclick="removeCode(this)">
                                    <p id="tooltiptext">Delete</p>
                                    <i style="display: flex; justify-content: center; align-items: center; font-weight: 900" class='bx bxs-trash'></i>
                                </button>
                            </td>
                        </tr>
                    }
                }
                else
                {
                    <tr><td colspan="10" style="text-align:center; padding-left: unset;">No Promo Codes found.</td></tr>
                }
            </tbody>
        </table>
    </div>
</div>
<style>
    .popup {
        width: 500px;
        max-width: 100%;
        color: black;
        position: absolute;
        top: -150%;
        left: 50%;
        opacity: 0;
        transform: translate(-50%, -50%) scale(1.25);
        padding: 20px;
        background: #fff;
        box-shadow: 2px 2px 5px 5px rgba(0,0,0,0.15);
        border-radius: 15px;
        transition: top 0ms ease-in-out 0.2s,
                    opacity 0.2s ease-in-out 0s,
                    transform 0.2s ease-in-out 0s;
    }

        .popup.active {
            top: 50%;
            opacity: 1;
            transform: translate(-50%, -50%) scale(1);
            transition: top 0s ease-in-out 0s, opacity 0.2s ease-in-out 0s, transform 0.2s ease-in-out 0s;
        }

        .popup .close-btn {
            position: absolute;
            top: 10px;
            right: 10px;
            width: 25px;
            height: 25px;
            background: #888;
            color: #eee;
            text-align: center;
            line-height: 25px;
            border-radius: 15px;
            cursor: pointer;
        }

    .popup .form h2 {
        text-align: center;
        color: #222;
        margin: 10px 0px 20px;
        font-size: 25px;
    }

    .popup .form .form-element {
        margin: 15px 0px;
    }

    .popup .form .form-element label {
        font-size: 14px;
        color: #222;
    }

        .popup .form .form-element input[type="text"],
        .popup .form .form-element input[type="number"],
        .popup .form .form-element input[type="datetime-local"] {
            width: 100%;
            padding: 10px;
            border: none;
            border-bottom: 2px solid #dcdcdc;
            border-radius: 15px;
            font-size: 14px;
            background-color: #effbee;
            box-sizing: border-box;
        }

        .popup .form .form-element input[type="text"],
        .popup .form .form-element input[type="number"],
        .popup .form .form-element input[type="datetime-local"] {
            width: 100%;
            padding: 10px;
            border: none;
            border-bottom: 2px solid #dcdcdc;
            border-radius: 15px;
            font-size: 14px;
            background-color: #effbee;
            box-sizing: border-box;
        }

    .popup .form .form-element button {
        width: 100%;
        height: 40px;
        border: none;
        outline: none;
        font-size: 15px;
        background: #023000;
        color: #f5f5f5;
        border-radius: 15px;
        cursor: pointer;
        transition: all 0.25s ease-in-out;
    }

        .popup .form .form-element button:hover {
            background: #0230007b;
            color: black;
        }

</style>
<div class="popup">
    <div class="close-btn">&times;</div>
    <div class="form">
        @using (Html.BeginForm("Add_PromoCode", "Admin", FormMethod.Post))
        {
            <h2>Add a Promocode</h2>
            <div class="form-element">
                <label for="promocode">Code</label>
                <input type="text" id="promocode" name="promocode" placeholder="WELCOME2024" required oninput="convertToUppercase(this)" />
            </div>
            <div class="form-element">
                <label for="value">Value <i style="color: #c69b58" class='bx bxs-coin-stack'></i></label>
                <input type="number" id="value" name="value" placeholder="0" min="0" required />
            </div>
            <div style="display: flex; gap: 20px;">
                <div class="form-element">
                    <label for="user_limit">Limit per User</label>
                    <input type="number" id="user_limit" name="user_limit" placeholder="0" min="0" required />
                </div>
                <div class="form-element">
                    <label for="usage_limit">Max Usage</label>
                    <input type="number" id="usage_limit" name="usage_limit" placeholder="0" min="0" required />
                </div>
            </div>
            <div class="form-element">
                <label for="expiration_date">Valid Until?</label>
                <input type="datetime-local" name="expiration_date" id="expiration_date" required />
            </div>
            <br />
            <div class="form-element">
                <button type="submit">Continue</button>
            </div>
        }
    </div>
</div>
<script>
    window.addEventListener('load', function () {
        const dashboardLink = document.getElementById('promo');
        if (dashboardLink) {
            dashboardLink.classList.add('active');
        }

        const allLinks = document.querySelectorAll('.link');
        allLinks.forEach(link => {
            if (link !== dashboardLink) {
                link.classList.remove('active');
            }
        });
    });
</script>
<script>
    function removeCode(button) {
        var code = button.dataset.code;

        // Display a confirmation dialog
        var confirmation = confirm("Are you sure you want to remove this code?");

        if (confirmation) {
            // Proceed with the ban operation
            $.ajax({
                url: '@Url.Action("DeleteCode", "Admin")',
                type: 'POST',
                data: { code: code },
                success: function (data) {
                    if (data.success) {
                        $("#btn[data-code='" + code + "']").closest("tr").remove();
                        alert("Promo Code has been removed.");
                    } else {
                        alert("Error removing the code."); // Handle error message from controller (optional)
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.error("Error:", textStatus, errorThrown); // Log errors to console
                    alert("An error occurred. Please try again later."); // User-friendly error message
                }
            });
        }
    }
</script>
<script>
    document.querySelector("#addpromocode").addEventListener("click", function () {
        document.querySelector(".popup").classList.add("active");
    });

    document.querySelector(".popup .close-btn").addEventListener("click", function () {
        document.querySelector(".popup").classList.remove("active");
    });
</script>
<script>
    // Function to convert input value to uppercase
    function convertToUppercase(input) {
        input.value = input.value.toUpperCase();
    }

    // Function to disable past dates in datetime-local input
    function disablePastDates(input) {
        var currentDate = new Date().toISOString().split("T")[0]; // Get current date in YYYY-MM-DD format
        input.min = currentDate + "T00:00"; // Set min attribute to today's date
    }

    // Call the disablePastDates function when the page loads
    window.onload = function () {
        var expirationDateInput = document.getElementById("expiration_date");
        disablePastDates(expirationDateInput);
    };
</script>